body {
    background-color: pink;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
}

h1 {
    text-align: center;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: teal;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px blue;
}

.btn:hover {
    box-shadow: 0 4px blue;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

.move-right {
    transform: translateX(1000px);
}

.move-left {
    /*transform: translateY(150px);*/
    transform: scale(5, 3)
               rotate(45deg);
    transform-origin: left top;
}

.move-left:hover {
    transform: rotate(90deg)
    scale(5, 3);
}

.move-left:active {
    transform: rotate(180deg)
    scale(5, 3);
}


.move-right:hover {
    transform: translate(20px, 200px);
}

