body {
    background: pink;
}

#one:hover {
    background-color: teal;
    transform: scale(3);
    border-radius: 15px;
}

.animated {
    /*transition-property: transform, background-color;*/
    /*transition-duration: 5s, 20s; */
    /*transition-delay: 2s, 2s;*/
    /*transition-timing-function: ease-in-out;*/
    
    transition: transform 5s ease-in 2s,
                background-color 20s ease-in-out 5s;
}